@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

section {
    height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

p {
    font-size: 16px;
    line-height: 40px;
}

#review{
    display: flex;
    background-image: url("./img/fundo.png");
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.3vh;
}
.usuario{
    width: 64.74px;
    height: 65.45px;
    margin-right: 8px;
    margin-left: 8px;
}

.nome{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;

    color: #00235C;

    margin: 8px 0px;
}
.aspas{
    font-style: normal;
    font-weight: 700;
    font-size: clamp(24px, 2vw, 36px);
    line-height: 39px;
    letter-spacing: 0.015em;

    color: #FF463A;
}
.comentario{
    font-size: clamp(16px, 1.6vw, 21px);
    line-height: 39px;
    letter-spacing: 0.015em;
}
.card{
    width: 40vw;
    display: flex;
}
.flex-start{
    align-self: flex-start ;
}
#allReview{
    align-self:flex-end;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    text-decoration-line: underline;
    color: #116CFF;
}
h1.titulo{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin: 0;
    color: #116CFF;
}
h1.titulo.branco{
    color: #fff;
}
.ourClassText{
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #00235C;
}
.grid.ourClass{
    font-size: 16px;
    line-height: 25px;
    align-items: left;
}
div.ourClassHeader{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0px 0px;
    border-left: 4px solid #FF463A;
    justify-content: center;
    align-items: center;
    display: flex;
}

#detailClass{
    background: #116CFF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: 0;
    padding: 13px 1.42vw;

    color: #FFFFFF;
}

#ourclass{
    display: flex;
    background-color: #116CFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.balao{
    width: 32.2vw;
    background: #E7F0FF;
    padding: 24px 24px;
    border-radius: 20px;
}
.balao.even{
    background: #FFE6E5;
}
.triangulo{
    margin-top: 21px;
    border-right: 20px solid #E7F0FF;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    line-height: 0;
    width: 0;
    display: inline-block;
    margin-right: -1px;
}
.triangulo.even{
    border-right: 20px solid #FFE6E5;
}
.estrela{
    margin-top:8px;
}
.triangulo.right{
    transform:rotate(180deg);
}

div.grid {
    display: grid;
    grid-template-columns: auto auto;
}
div.grid.review{
    gap: 20px 70px;
}
.logical-thinking {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #00235C;
}

.logical-thinking article {
    width: 630px;
}

.logical-thinking p {
    width: 561px;
    height: 160px;
}

.preparing-your-kids {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #116CFF;
}

.preparing-your-kids article {
    width: 570px;
    margin-right: 38px;
}

.preparing-your-kids p {
    width: 526px;
    height: 120px;
}
